body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.car-logo {
  height: 40vmin;
  pointer-events: none;
}

.car-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs{
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-left: 10px;
  .pages{
    display: flex;
    align-items: start;
  }
  .btn{
    margin: 10px;
    a{
      color: #fff;
    }
  }
}

hr{
  margin: 0px !important;
}

.btn-create{
  background: #019ACE;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #181B20;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #019ACE;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}